@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
 
    <title>Instruction_Page</title>
</head>
<body>


    <div class ="container">
        <div class="row">
            <div class="col-2"></div>
        
            <div class="col-8">
                <div class="row">

              <h3> WELCOME TO ONLINE POTRAL TEST  </h3><br /><br />
                     <h5> * Make sure your electronic devices are switched off unless specifically permitted </h5><br /><br />
                    <h5> * Note the duration of the test and plan your time accordingly </h5><br /><br />
                    <h5> * Read each question carefully before answering </h5><br /><br />
                    <h5> * Stay silent throughout the test to avoid disturbing others </h5><br /><br />
                    <h5> * Do not discuss questions with other students</h5><br /><br />

                      </div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <a href="~/USER/Questions_Options_Page">
                        <button type="submit" id="start_test" class="btn btn-secondary"> START </button>
                            </a>
                    </div>
                    <div class="col-4"></div>
                </div>


                 </div>

            <div class="col-2"></div>
            </div>
    </div>
   
</body>
</html>
