@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View_Questions</title>
</head>
<body>
               <div class="col-6">

                <table id="Questions_Table" class="display dataTable cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th> SUBJECT ID </th>
                            <th> QUESTIONS ID </th>
                           <th> QUESTIONS </th>
                            <th> CHECK BOX </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table><br />

               
            </div>
</body>
</html>
